* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#app {
    font: 1.5rem "Nunito", san-serif;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1e293b;
    /* align-items: center; */
}

#name-component, .check-result, #test-page, .check-result, #header, #copy, ul {
    display: grid;
    place-content: center
}

/* get the content to fill the screen vertically */
#name-component, #test-page, .check-result{
    flex-grow: 1
}

#name-component {
   /* align-content: normal;
   justify-content: normal; */
   /* width: 90%; */
   /* align-items: center; */
   /* max-width: 800px; */
  text-align: center;
  /* background-color: pink; */

  
 
  
   
  }
  
  
  #name-component div {
     justify-self: center;
  display: grid;
 /* row-gap: 1rem; */
  min-width: 90%;
  max-width: 700px;
  /* place-content: center; */
  /* background-color: pink; */
  /* justify-self: center; */
  row-gap: .5rem;
  padding: 1rem 0;
    grid-template-rows: .2fr .2fr .2fr .1fr;
  flex-grow: 1;
  max-height: 100vh;

  width: 60%;


  /* width: 90vw; */
  /* display: grid; */


  /* flex-grow: 1; */
}

#name-component div > * {
  /* background-color: pink; */
}

#name-taker {
  justify-self: center;
  width: 80%;
  height: 3rem;
  
}

#continuity {
  justify-self: center;

}

#test-page {
  width: 100%;
 align-self: center;
    align-content:  normal;
   justify-content: normal;
   /* background-color: pink; */
   
  }


  
  
  
  #header, #copy {
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
    text-align: center;
    justify-self: center;
  }
  
  #header{
    position: sticky;
    border-bottom: 1px solid whitesmoke;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex; */
    column-gap: 25%;
    height: 3rem;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0 .5rem;
    
    /* flex-direction: column;   */
  }
  #title {
    /* background-color: pink; */
    white-space: nowrap;
    flex: 0 0 15%;
  }
  
  
  #clock {
    /* background-color: pink; */
    
    font-size: 1.2rem;
    color: white;
    border: 1px solid white;
    align-items: center;
    justify-content: start;
    /* flex: 0 0 5%; */
    padding: .2rem;
    width: 4rem;
  }
  
  .admin {
    /* padding: .5rem; */
    flex: 0 0 25%;
    
  }
  
  #winding-clock {
    flex: 0 0 5%;
    margin: 0 1rem;
    height: 2rem;
    /* display: flex; */
    color: tomato;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    /* width: 4rem; */
  }
  
  
  #copy {
    font-size: 15px;
    border-top: 1px solid whitesmoke;
    bottom: 0;
    padding: .5rem;

    
}
#test-canvas {
   display: grid;
   width: 70%;
   justify-content: start;
   /* text-align: left; */
   align-content: start;
   justify-self: center;
   grid-template-columns: repeat(13, 1fr);
   /* specifying the height of each content grid element 
   to keep the position of every element under the test-canvas stationary */
   grid-template-rows: 3.5rem;
   
  }
  
  #qno {
    grid-column: 1 / 2;
    font-weight: bold;
    /* background-color: yellow; */
  }
  
  .interview {
  /* background-color: yellow; */
    grid-column: 2 / 13;
   font-size: inherit;
   font-weight: bold;
}




#ul-container {
    
    display: flex;
    justify-self: center;
    /* text-align: center; */
    width: 60%;
    /* background-color: blue; */
}

ul {
    justify-content: flex-start;
    align-content: flex-start;
    /* background-color: blue; */
    /* justify-content: flex-start; */
       align-content:  normal;
    flex-grow: 1;
   list-style-type: none;
   width: 70%;
   /* background-color: yellow */
}
 li input {
    width: 1.2rem; 
    height: 1.2rem; 
    margin-right: 1rem;
  }

.controls{
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    /* background-color: orange; */
    /* text-align: center; */
    justify-self: center;
    align-content: center;
    justify-content: flex-start;
    /* height: 3rem; */
    /* width: 70%; */
 
    
}
/* #tableA {
  background-color: blue;
  margin-left: 10rem;
} */

#tableA {
  /* border: 5px solid rgb(116, 115, 11); */
  text-align: center;
    margin: 0rem 1rem 2rem 1rem;
    border-radius: 5px;
}

td, th {
  /* display: flex;
  flex-direction: column; */

  /* margin: 1rem 0 0 1rem; */
  padding: 5px 0px;
  color: #1e293b;
  /* background-color: red; */
}



   #name {
    /* background-color: pink; */
    margin: 3rem 0 0 2rem;
    padding-top: 1rem;
  }
  
  #instructions {
     /* background-color: pink; */
    text-align: left;
    /* width: ; */
   }

  #tableA td {
    border-bottom: 2px solid brown;
    padding: .5rem;
    /* height: 55px; */
   }

  button {
    color: inherit;
    background-color: ghostwhite;
    border-color: ghostwhite;
    color: #1e293b;
    width: 9rem;
    /* font-size: 4rem; */

    border-radius: 10px;
    /* box-shadow: 0.2em 0.3em 0.35em gray; */
    height: 3rem;
  }

  .controls button, .admin .check-result button {
    border-radius: 5px;
 
  }
  
  button:active {
    box-shadow: 0em 0em 0em gray;
    transition-property: box-shadow scale;
    transform: scale(0.95, 0.95);
    box-shadow: 0em 0e 0em;
    transition-duration: 0.1s;
  }
 
  
  .real-error {
    color: tomato;
    display: block;
    text-align: center;
  }
  

@media screen and (max-width: 500px) {


#app {
    font-size: 1.2rem;
   
}

    #ul-container, #test-canvas {
        /* background-color: yellow; */
        width: 100%;
    }
#result-table {
  overflow: auto;
}
#tableA {

     width: 200vw;

}

#name-component div {
 
 row-gap: 2rem;
 min-height: 60%;
  grid-template-rows: .2fr .2fr .2fr .1fr;
  /* background-color: pink; */
}


#name-component div > * {
  /* background-color: pink; */
}

button {
  height: 3rem;
}
  

   #name-taker{
    width: 90%;

}



#test-canvas {

   /* to keep the position of every element under the test-canvas stationary */
   grid-template-rows: 2rem;
   /* flex: 1 1 100%; */
   column-gap: .5rem;
   /* margin-left: 2rem; */
   width: 95%;
   /* background-color: yellow; */
  }
  
 #ul-container {
  /* background-color: yellow; */
  width: 90%;
 }
  #header {
    font-size: 1.5rem;
    column-gap: 5%;
    
  }
  #instructions {
    /* text-align: center; */
  }
  
  
  
  
}
@media screen and (min-width: 501px) {
  #app {
    font-size: 1.2rem 
    
  }
  

  #test-page {
    width: 95%;
    /* align-self: center; */
    
  }
  .controls{
    /* background-color: pink; */
    column-gap: 4rem;
    width: 70%;
    justify-content:flex-start;
  }
  #header {
    font-size: 1.5rem;
    column-gap: 5%;
 
  }

   #test-canvas div{
    /* text-align: right; */
    /* background-color: pink; */
    /* column-gap: .5rem; */
    max-width: 95%;
  }
  .interview {
    /* background-color: pink; */
    
  }
}
@media screen and (min-width: 816px) {
  #test-page {
    width: 80%;
    align-self: center;
    
  }
  
 
  .controls {
    column-gap: 6rem;
    justify-content: flex-start;
      /* background-color: pink; */
      width: 70%;
  }
}
  @media screen and (min-width: 1090px) {
    #test-page {
      width: 60%;
      /* background-color: pink; */
    align-self: center;
 
  }
  .controls {
      /* background-color: pink; */
    column-gap: 10rem;
    justify-content: flex-start;
  }


}



