* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#root {
  flex-flow: nowrap;
  /* display: flex;  */
  /* min-height: 100%; */
}

#app {
    font: 1.5rem "Nunito", san-serif;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1e293b;
    /* overflow-y: auto; */

  }

/*   
.App > * {
  overflow-x: auto; 
} */

  
  #name-component, .check-result, #test-page, .check-result, #header, #copy, ul, #submitting, #getting {
    display: grid;
    place-content: center;

  }


  #header, #copy {
  position: fixed;
  /* overflow-y: auto; */
    background-color: #1e293b;
    color: whitesmoke;
    place-content: center;
    width: 100%;
        /* margin: 5rem; */
  }
  
  #header{
    border-bottom: 1px solid whitesmoke;
    /* grid-template-columns:repeat(1, 3fr .5fr 3fr); */
       grid-template-columns: repeat(13, 1fr);
    /* display: flex; */
    /* row-gap: 2rem; */
    height: 3rem;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0 .5rem;
    
    top: 0;
    /* flex-direction: column;   */
  }

  
  
/* get the content to fill the screen vertically */
#name-component, #test-page, .check-result, #submitting, #getting{
  flex-grow: 1
}

#name-component {
  text-align: center;
  /* background-color: pink; */
 
  
}


#name-component div {
  justify-self: center;
  display: grid;
  /* row-gap: 1rem; */
  min-width: 90%;
  max-width: 700px;
  /* place-content: center; */
  /* background-color: pink; */
  /* justify-self: center; */
  row-gap: .5rem;
  grid-template-rows: .2fr .2fr .2fr .1fr;
  flex-grow: 1;
  max-height: 100vh;
  
  width: 60%;
  
  
  /* width: 90vw; */
  /* display: grid; */
  
  
  /* flex-grow: 1; */
}

#name-component div > * {
  /* background-color: pink; */
}

#name-taker {
  justify-self: center;
  width: 80%;
  height: 3rem;
  padding: 0 .5rem;
  
}

#continuity {
  justify-self: center;
  
}

#test-page {
  width: 100%;
  /* align-self: center; */
  align-content:  normal;
  justify-content: normal;


  
/* grid-template-rows: .1fr 1fr .5fr 1fr; */
  /* min-height: 100vh; */
  
}

  #title {
    /* background-color: pink; */
    white-space: nowrap;
    /* flex: 0 0 15%; */
    font-size: 2rem;
    grid-column: 1 / 5;
    align-self: start;
  }
  
  
  
  
  #clock {
    /* background-color: orange; */
    grid-column: 7 / 8;
    
    display: flex;
    margin: 0 1rem;
    height: 2rem;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    
  }
  
  
  
  #winding-clock {
    grid-column: 7 / 8;
    display: flex;

    margin: 0 1rem;
    height: 2rem;
    color: tomato;
    border: 1px solid tomato;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    
    
    
    
  }
  
  
  .admin {
     /* background-color: yellowgreen; */
 font-size: 1rem;
 height: 2rem;
 grid-column: 11/14;
    
  }
  
  #copy {
    font-size: 15px;
    border-top: 1px solid whitesmoke;
    bottom: 0;
    padding: .8rem;

    
}
#test-canvas {
   display: grid;
   width: 70%;
   justify-content: start;
   /* text-align: left; */
   align-content: start;
   justify-self: center;
   grid-template-columns: repeat(13, 1fr);
   /* specifying the height of each content grid element 
   to keep the position of every element under the test-canvas stationary */
   grid-template-rows: 3.5rem;
   /* background-color: pink; */
   font-size: 1.7rem;
   
  }
  
  #qno {
    grid-column: 1 / 2;
    font-weight: bold;
    /* background-color: yellow; */
  }
  
  .interview {
    grid-column: 2 / 13;
   font-size: inherit;
   font-weight: bold;
}




#ul-container {
    
    display: flex;
    justify-self: center;
    width: 60%;
    /* background-color: blue; */
}

ul {
    justify-content: flex-start;
    /* align-content: center; */
    /* background-color: blue; */
       align-content:  normal;
    flex-grow: 1;
   list-style-type: none;
   width: 70%;
   /* background-color: yellow */
  }
  li input {
    width: 2rem; 
    height: 1.8rem; 
    margin-right: 1rem;
  }
  
  ul > * {
    font-size: 1.6rem;
  }
  
  li {
    display: flex;
    /* background-color: yellow; */
    /* align-content: center; */
    width: 40vw;
    /* place-content: center; */
  }

.controls{
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    font-size: 2rem;
    /* background-color: orange; */
    justify-self: center;
    align-content: center;
    justify-content: flex-start;
    /* height: 3rem; */
    /* font-weight: bold; */
 
    
}



.controls > *:nth-child(1) {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  
  padding: 0 0 0 1rem;
  font-size: 2rem;
}
.controls > *:nth-child(2) {
  display: flex;
  
  align-items: center;
  justify-content: flex-end;
  
  padding: 0 1rem  0  0;
  font-size: 2rem;
}
.controls > *:nth-child(3) {

  font-size: 1.5rem;

}

#tableA {
  /* border: 5px solid rgb(116, 115, 11); */
  text-align: center;
    margin: 0rem 1rem 2rem 1rem;
    border-radius: 5px;
}

td, th {
  padding: 5px 0px;
  color: #1e293b;
  /* background-color: red; */
}

tr th{
      border-bottom: 2px solid brown;
}

  .general-result-container {
    margin-top: 2rem;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    display: flex;
    flex-direction: column;
   }


.general-result-container form, h3{
 
  /* background-color: pink; */
  text-align: center;
  /* width: 100vw; */
}

.general-result-container form input {
  padding: .5rem;
  /* background-color: pink; */
}

  .general-result-control {
  display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 2rem;
    
   
   }

   #searcher {
 margin: .5rem 0; 
   font-size: 2rem;
  border: 2px solid indigo;


   }

  .general-table {
    text-align: center;
     margin: 1rem .5rem;
   }

   .general-table td, th {
  padding: 10px;
  border-bottom: 1px solid brown;
  height: 55px;
}

   #name {
    /* background-color: pink; */
    margin: 3rem 0 0 2rem;
    padding-top: 1rem;
  }
  
  #instructions {
     /* background-color: pink; */
    text-align: left;
    /* width: ; */
   }

  #tableA td {
    border-bottom: 2px solid brown;
    padding: .5rem;
    /* height: 55px; */
   }

  button {
    color: inherit;
    background-color: ghostwhite;
    border-color: ghostwhite;
    color: #1e293b;
    width: 8rem;
    /* font-size: 4rem; */

    border-radius: 10px;
    /* box-shadow: 0.2em 0.3em 0.35em gray; */
    height: 3rem;
  }

  .controls button, .admin .check-result button {
    border-radius: 5px;
 
  }
  
  button:active {
    box-shadow: 0em 0em 0em gray;
    transition-property: box-shadow scale;
    transform: scale(0.95, 0.95);
    box-shadow: 0em 0e 0em;
    transition-duration: 0.1s;
  }
 
  
  .real-error {
    color: tomato;
    display: block;
    text-align: center;
  }
  
  .general-warning-container {
    position: fixed;
    justify-content: center;
    align-items: center;
        place-content: center;
text-align: center;
top: 35%;
left: 5%;
width: 90%;
 padding: 1rem;
   background-color: gray;
   border-radius: 5px;
   opacity: .85;

}

.general-warning {
/* background-color: blue; */
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    justify-content: center;
}

.general-warning > * {
  font-size: 1.2rem;
  /* background-color: dodgerblue; */
  padding: .3rem 0;
  color: whitesmoke;

}
.general-warning:nth-child(3) {
background-color: dodgerblue;

  /* color: whitesmoke; */

}
.general-alert {
    position: fixed;
     color: #1e293b;
    text-align: center;
    margin: 1rem 0;
    top: 35%;
left: 25%;
width: 40%;
padding: 1rem;
background-color: #3CB371;
border-radius: 5px;
opacity: .85;

}

#submitting, #getting {
  /* position: absolute; */
  color: white;
  top: 50%;
  left: 30%;

}

@media screen and (max-width: 361px){
 
  #test-page {

    /* background-color: pink; */
    grid-template-rows: 1.2fr 1.5fr 1fr
  }
}


@media screen and (max-width: 431px) {

  .general-result-container {
    padding: 3rem 0 2rem 0;
  }

  #result-table {
    /* padding-top: 4rem; */
  }
  

  #app {
    /* background-color: orange; */
    justify-content: center;
  }

  #test-page {
      max-height: 70vh;
  }
  .interview {

  }

  .controls {
    /* background-color: yellow; */
    align-content: flex-end;
  }


  #test-canvas, #instructions {
    font-size: 1.5rem;

  }

  li {
    width: 80vw;
  }

  #title {
    font-size: 1.2rem;
  }

  #winding-clock,
  #clock  {
    grid-column: 7 /8;
  }
  
  .admin{
    grid-column: 8 / 14;
    /* grid-column: 7/14; */
    /* background-color: brown; */
  }
  

}

@media screen and (max-width: 500px) {
.general-result-container {
  align-items: flex-start;
     overflow: auto;
   }

#app {
    font-size: 1.2rem;
   
}



  #test-page {
      /* padding: 5rem 0 0 0; */
  }

    #ul-container, #test-canvas {
        /* background-color: yellow; */
        width: 100%;
      }
      #name-component div {
        justify-content: center;

    }

 
#result-table {
  overflow: auto;
}
#tableA {

     width: 200vw;

}

#name-component div {
 
 row-gap: 2rem;
 min-height: 60%;
  grid-template-rows: .2fr .2fr .2fr .1fr;
}


button {
  height: 3rem;
}
  

   #name-taker{
    width: 90%;

}



#test-canvas {

   /* to keep the position of every element under the test-canvas stationary */
   grid-template-rows: 2rem;
   /* flex: 1 1 100%; */
   column-gap: .5rem;
   width: 95%;
   /* background-color: brown; */
  }
  
 #ul-container {
  /* background-color: yellow; */
  width: 90%;
 }
  #header {
    font-size: 2rem;
    column-gap: 5%;
    
  }
  #instructions {
    padding: 0 1rem;
    max-width: 95vw;
    /* background-color: pink; */
  }

  

.general-result-container form, h3{
 width: 100vw;
  /* background-color: pink; */
  text-align: center;
  /* width: 100vw; */
}

.general-table {
  width: 200vw;
}

#tableA {
  min-width: 250vw;
}

.controls {
  justify-content: center;
}
}
@media screen and (min-width: 501px) {
  #app {


      padding: 2rem 0 2rem 0;

    font-size: 1.2rem 
    
  }

  #name-component {
    margin-top: 2rem;
    font-size: 1rem;
  }
  

  #test-page {
    width: 95%;
    align-self: center;
    padding: 1.5rem 0 .5rem 0 ;
        /* background-color: pink; */
        width: 60%;
    
  }
  .controls{
   
    /* background-color: pink; */
    column-gap: 2rem;
    width: 75vw;
    justify-content:flex-start;
  }

  #submit {
    
    place-self: center;
  }
  #header {
    font-size: 2rem;
    column-gap: 5%;
 
  }

   #test-canvas, ul li {
 font-size: 1.2rem;
    /* text-align: right; */
    /* background-color: pink; */
    /* column-gap: .5rem; */
    max-width: 95%;
  }

  li input {
    width: 1rem;
  }
  .interview {
    /* background-color: pink; */
    
  }
  #tableA {

    /* min-width: 300vw; */

}
 /* .admin {
   margin-top: 10rem;
  } */
}
@media screen and (min-width: 816px) {
  #test-page {
      padding: 1.5rem 0 .5rem 0;
      /* background-color: yellow; */
  }


 #app {




    font-size: 2rem ;

    
  }
  

  #test-page {
    width: 60%;
    align-self: center;
    
  }
  
 
  .controls {
    column-gap: 6rem;
    justify-content: flex-start;
      /* background-color: pink; */
      width: 80vw;
  }
}
  @media screen and (min-width: 1090px) {
    #test-page {
      width: 60%;
      /* background-color: pink; */
    align-self: center;
 
      padding: 2rem 0 0 0;

 
  }
  .controls {
      /* background-color:red; */
    column-gap:5rem;
    justify-content: flex-start;
    width:50vw;
  }


}



